APP_NAME=RiskGuard AI
APP_VERSION=1.0.0
DEBUG=True
API_HOST=0.0.0.0
API_PORT=8000
DATABASE_URL=sqlite:///./predictions.db
MODEL_PATH=model/best_model.pkl
SCALER_PATH=model/scaler.pkl
API_URL=http://localhost:8000
MLFLOW_TRACKING_URI=sqlite:///./mlflow.db
MLFLOW_EXPERIMENT_NAME=Credit_Risk_Prediction
SECRET_KEY=your-secret-key-change-this-in-production